extends ../layout

block content
    include ../teacherProfile
    div(id="outer" class="removePopup")
        div(id="inner" class="removePopup")
            +teacherProfile(teacher, setCourses)
    h3 Teachers
        h4 Filters
        form(action='/teachers/' method='get')
          label(for="building") Building
          select(id="building" name="building" autocomplete="off") Building
                each building in buildingChoices
                    option(value=building selected = (building === searchBuildings)) #{building}
          label(for="department") Department
          select(id="department" name="department" autocomplete="off") Department
                each department in departmentChoices
                    option(value=department selected = (department === searchDepartments)) #{department}
          input(id="AP" name="AP" type="checkbox" value="AP")
          label(for="AP") AP Teachers Only
          button(type='submit') Filter
        table
            thead
                tr
                    th Name
                    th Room
                    th Email
            tbody
                each teacher in sortedTeachers
                    tr
                        td
                         a(href=`/teachers/?name=${teacher.first_name}_${teacher.last_name}` class="teachers")= `${teacher.first_name} ${teacher.last_name}`
                        td= teacher.room
                        td
                         a(href=`mailto:${teacher.email}`)= teacher.email

    script.
        let teachers = document.querySelectorAll(".teachers")
        teachers.forEach(element => {
            element.addEventListener("click", function () {
                localStorage.setItem('teacherPopup', 'true')
            });

        });
        document.getElementById("remove").addEventListener("click", function () {
            localStorage.setItem('teacherPopup', 'false')
            window.location.reload();
        })
        document.addEventListener("DOMContentLoaded", function () {
            if (!window.location.href.includes("?name=")) {
                localStorage.setItem('teacherPopup', 'false')
            }
            if (localStorage.getItem('teacherPopup') === 'true') {
                document.getElementById("inner").className = ('popupOverlay');
                document.getElementById("outer").className = ('popupOuter');
                document.getElementById("teacherProfile").className = ('profileContent');
            } else {
                document.getElementById("inner").className = ('removePopup');
                document.getElementById("outer").className = ('removePopup');
                document.getElementById("teacherProfile").className = ('removeProfileContent');
            }
        })