extends ../layout

block content
    include ../teacherProfile
    div(id="outer" class="removePopup")
        div(id="inner" class="removePopup")
            +teacherProfile(teacher, setCourses)
    div.sidebar
        nav.sidenav
            h2 Teachers Filter
            form(action='/teachers/' method='get')
                a.sidenav-item.label Building
                a.dropdown-select
                    select(id="building" name="building" autocomplete="off") Building
                        each building in buildingChoices
                            option(value=building selected = (building === searchBuildings)) #{building} ▾
                div.filterSection
                a.sidenav-item.label Department
                a.dropdown-select
                    select(id="department" name="department" autocomplete="off") Department
                        each department in departmentChoices
                            option(value=department selected = (department === searchDepartments)) #{department} ▾
                div.filterSection
                a.teacher-checkbox
                    input(id="AP" name="AP" type="checkbox" value="AP")
                    label(for="AP") AP Teachers Only
                div.filterSection
                a.type-filter
                    button(type='submit') Filter
                    button(type="button" onclick="window.location.href='/teachers'") Reset
    h1 Teachers
    div.searchbar
        input(type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for teacher..")
    main
        table.view(id="table")
            thead
                tr
                    th Name
                    th Room
                    th Email
            tbody
                each teacher in sortedTeachers
                    tr
                        td
                         a(href=`/teachers/?name=${teacher.first_name}_${teacher.last_name}` class="teachers")= `${teacher.first_name} ${teacher.last_name}`
                        td= teacher.room
                        td
                         a(href=`mailto:${teacher.email}`)= teacher.email
    script.
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("table");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        let teachers = document.querySelectorAll(".teachers")
        teachers.forEach(element => {
            element.addEventListener("click", function () {
                localStorage.setItem('teacherPopup', 'true')
            });

        });
        document.getElementById("remove").addEventListener("click", function () {
            localStorage.setItem('teacherPopup', 'false')
            history.back()
        })
        document.addEventListener("DOMContentLoaded", function () {
            if (!window.location.href.includes("?name=")) {
                localStorage.setItem('teacherPopup', 'false')
            }
            if (localStorage.getItem('teacherPopup') === 'true') {
                document.getElementById("inner").className = ('popupOverlay');
                document.getElementById("outer").className = ('popupOuter');
                document.getElementById("teacherProfile").className = ('profileContent');
            } else {
                document.getElementById("inner").className = ('removePopup');
                document.getElementById("outer").className = ('removePopup');
                document.getElementById("teacherProfile").className = ('removeProfileContent');
            }
        })