extends ../layout

block content
    nav.sidenav
        form(action='/courses' method='get')
            a.dropdown-btn Building Type &downarrow;
            a.dropdown-btn
            ul.sidenav-dropdown-menu
                select(id="department" name="department" autocomplete="off")
                    each department in departmentChoices
                        option(value=department selected = (department === searchDepartment)) #{department}
            a.dropdown-btn Class Type &downarrow;
            a.dropdown-btn
            ul.sidenav-dropdown-menu
                select(id="classType" name="classType" autocomplete="off")
                    each classType in classTypeChoices
                        option(value=classType selected = (classType === searchClassType)) #{classType}
            a.checkbox-btn
                input(id="ninth" name="ninth" type="checkbox" value="ninth")
                label(for="ninth") Ninth Grade Classes
            a.checkbox-btn
                input(id="tenth" name="tenth" type="checkbox" value="tenth")
                label(for="tenth") Tenth Grade Classes
            a.checkbox-btn
                input(id="eleventh" name="eleventh" type="checkbox" value="eleventh")
                label(for="eleventh") Eleventh Grade Classes
            a.checkbox-btn
                input(id="twelfth" name="twelfth" type="checkbox" value="twelfth")
                label(for="twelfth") Twelfth Grade Classes
            a.type-filter
                button(type='submit') Filter
    main
        table
            thead
                tr
                    th Name
                    th Department
                    th Grade levels
            tbody
                each course in sortedCourses
                    tr
                        td
                            a(href=`/courses/profile/${course.id}`)= course.name
                        td= course.department
                        td= course.grade_levels