extends ../layout

block content
    include ../courseProfile
    div(id="outer" class="removePopup")
        div(id="inner" class="removePopup")
            +courseProfile(course)
    div.sidebar
        nav.sidenav
            h2 Course Filter
            form(action='/courses' method='get')
                a.sidenav-item.label Department
                a.dropdown-select
                    select(id="department" name="department" autocomplete="off")
                        each department in departmentChoices
                            option(value=department selected = (department === searchDepartment)) #{department} ▾
                div.filterSection
                a.sidenav-item.label Class Type
                a.dropdown-select
                    select(id="classType" name="classType" autocomplete="off")
                        each classType in classTypeChoices
                            option(value=classType selected = (classType === searchClassType)) #{classType} ▾
                div.filterSection
                a.course-checkbox
                    input(id="ninth" name="ninth" type="checkbox" value="ninth")
                    label(for="ninth") 9th Grade
                div.filterSectionGrade
                a.course-checkbox
                    input(id="tenth" name="tenth" type="checkbox" value="tenth")
                    label(for="tenth") 10th Grade
                div.filterSectionGrade
                a.course-checkbox
                    input(id="eleventh" name="eleventh" type="checkbox" value="eleventh")
                    label(for="eleventh") 11th Grade
                div.filterSectionGrade
                a.course-checkbox
                    input(id="twelfth" name="twelfth" type="checkbox" value="twelfth")
                    label(for="twelfth") 12th Grade
                div.filterSection
                a.type-filter
                    button(type='submit') Filter
                    button(type="button" onclick="window.location.href='/courses'") Reset
    h1 Courses
    div.searchbar
        input(type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for course..")
    main
        table.view(id="table")
            thead
                tr
                    th Name
                    th Department
                    th Grade levels
            tbody
                each course in sortedCourses
                    tr
                        td
                            a(href=`/courses/?name=${course.name}` class="courses")= course.name
                        td= course.department
                        td= course.grade_levels
    script.
        let courses = document.querySelectorAll(".courses")
        courses.forEach(element => {
            element.addEventListener("click", function () {
                localStorage.setItem('coursePopup', 'true')
            });

        });
        document.getElementById("remove").addEventListener("click", function () {
            localStorage.setItem('coursePopup', 'false')
            window.location.reload();
        })
        document.addEventListener("DOMContentLoaded", function () {
            if (!window.location.href.includes("?name=")) {
                localStorage.setItem('coursePopup', 'false')
            }
            if (localStorage.getItem('coursePopup') === 'true') {
                document.getElementById("inner").className = ('popupOverlay');
                document.getElementById("outer").className = ('popupOuter');
                document.getElementById("courseProfile").className = ('profileContent');
            } else {
                document.getElementById("inner").className = ('removePopup');
                document.getElementById("outer").className = ('removePopup');
                document.getElementById("courseProfile").className = ('removeProfileContent');
            }
        })

        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("table");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }